*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    grid-template-rows: 20rem 5rem 20rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
    background: url("../images/background.gif");
    height: 100vh;
    background-size:cover;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    border-radius: .5rem;
    color: white;
    user-select: none;
}

.computer-deck {
    background: url("../images/joker2.jpg");
    background-size: cover;
    background-position: center;
}

.player-deck {
    /*background-color: transparent;*/
    background: url("../images/joker3.jpg");
    background-size: cover;
    background-position: center;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Lexend Deca',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card.red {
    color: red;
    background-color: white;
}

.card.black {
    color: black;
    background-color: white;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}